# Database Configuration
POSTGRES_DB=buchi
POSTGRES_USER=buchi
POSTGRES_PASSWORD=buchi
POSTGRES_EXT_PORT=5432

# Application Configuration
DB_HOST=postgres
DB_INTERNAL_PORT=5432
DB_NAME=buchi
DB_USERNAME=buchi
DB_PASSWORD=buchi

# Server Configuration
SERVER_PORT=8080
APP_EXT_PORT=8080

# File Upload Configuration
PHOTO_UPLOAD_DIR=/app/uploads/pets

# Third-party APIs
DOG_API_KEY=your-api-key
